* {
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}
.btn {
    background: rgb(255, 22, 22);
    color: #fff;
    font-size: 2rem;
    font-weight: 700;
    text-decoration: none;
    border-radius: 99px;
    min-width: 250px;
    display: inline-block;
    text-align: center;
    padding: 16px;
    transition: 0.5s;
}
.btn:hover {
    opacity: 0.9;
    transform: scale(1.2);
    color: #e4c918;
}
/* Join */
.join {
    background-color: #9c9ba2;
    height: 100vh;
    position: relative;
    color: #fff;
}
.join-content {
    position: relative;
    z-index: 2;
    margin-top: 80px;
}
.logo-pachas {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.logo-pacha {
    width: 160px;
}
.name-logos {
    font-size: 3rem;
    line-height: 1.4;
}
.logo-name-1 {
    font-weight: 800;
}
.heading-join {
    font-family: "Bungee", sans-serif;
    font-size: 5rem;
    font-weight: 700;
    line-height: 1.6;
    letter-spacing: 4px;
    margin-right: 190px;
}
.join-100ref {
    margin-top: 40px;
    color: rgb(255, 22, 22);
}
.join-100ref span {
    color: #004aad;
}

.sub-heading-join {
    font-family: "Bungee", sans-serif;
    margin-top: 80px;
    font-size: 2.5rem;
    margin-left: 60px;
    color: #f7b320;
    margin-bottom: 20px;
}
.join-list {
    margin-top: 40px;
    display: flex;
    align-items: center;
}
.join-item {
    position: relative;
    margin-left: 50px;
}
.join-item:nth-child(1) {
    margin-left: 0;
}
.join-item:nth-child(6) .join-list__icon {
    width: 102px;
}
.join-check {
    position: absolute;
    width: 28px;
    left: -28px;
    top: -13px;
}
.join-list__icon {
    width: 52px;
}

.join-team-desc {
    margin-top: 30px;
    display: flex;
    align-items: center;
}

.logo-phone {
    width: 34px;
    margin-right: 10px;
}
.phone-desc {
    font-size: 2.2rem;
    font-weight: 500;
}
.btns {
    position: relative;
    z-index: 10;
    margin-top: 30px;
    display: flex;
    align-items: start;
    justify-content: space-between;
}
.join-btn-right {
    position: relative;
}
.join-decor-1 {
    position: absolute;
    height: 100vh;
    top: 0;
    z-index: 1;
}

/* Col-5 */
.duy-media {
    position: relative;
}

.duy-img {
    object-fit: cover;
    height: 100vh;
}
.join-decor-2 {
    position: relative;
    bottom: 719px;
    right: 263px;
    z-index: 1;
}
.join-decor-3 {
    position: relative;
    top: -1715px;
    z-index: 3;
    left: -327px;
    transform: rotate(533deg);
}
.join-decor-4 {
    position: relative;
    top: -2463px;
    z-index: 3;
    left: -327px;
    transform: rotate(531deg);
}
/* Internet */
.internet {
    background: url(../img/background-page-2.PNG);
    background-size: cover;
    background-repeat: no-repeat;
}
.heading-internet {
    padding-top: 30px;
    font-size: 5rem;
    font-family: "Bungee", sans-serif;
    font-weight: bold;
    line-height: 1.4;
    color: rgb(244, 64, 37);
    text-align: center;
}
.sub-heading-internet {
    font-family: "Bungee", sans-serif;
    font-weight: bold;
    margin-top: 20px;
    line-height: 1.7;
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 3rem;
}
.content-internet {
    display: flex;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 100px;
}
.avatar__content-internet {
    width: 300px;
    /* height: 400px; */
    object-fit: cover;
}
.content-internet__left {
    position: relative;
    z-index: 5;
    bottom: -24px;
}
.content-internet__left figcaption {
    position: relative;
    background: url("https://w.ladicdn.com/s600x350/5b94eaffd5f2e647d50ab0e6/gold-20210619100918.jpg");
    font-size: 2.8rem;
    text-align: center;
    font-weight: 700;
    top: -5px;
    padding: 16px 0;
    border-radius: 0 99px;
}
.content-internet__right {
    position: relative;
    margin-top: 80px;
    z-index: 2;
}
.content-internet__right::after {
    content: "";
    position: absolute;
    display: block;
    width: 600px;
    top: -30px;
    left: -80px;
    height: 450px;
    background-color: #fff;
    z-index: -1;
    border-radius: 54px 120px 80px 120px;
    transform: rotate(2deg);
}
.content-right__title {
    font-size: 2rem;
    line-height: 1.4;
    font-style: italic;
}
.content-right__title strong {
    font-weight: 700;
    font-style: normal;
}
.content-right__title span {
    color: #ff0101;
    font-weight: 700;
    font-style: normal;
}
.content-right__list {
    font-size: 1.9rem;
    font-weight: 300;
    font-style: italic;
}
.content-right__item {
    margin-top: 20px;
    position: relative;
}
.content-right__item::before {
    content: url(../img/check.svg);
    display: block;
    position: absolute;
    width: 32px;
    left: -40px;
}
/* Header */
.header {
    padding-top: 80px;
    position: relative;
    background: rgb(31, 51, 202);
    background: linear-gradient(
        309deg,
        rgba(31, 51, 202, 1) 0%,
        rgba(18, 134, 228, 1) 66%
    );
}

.onus-logo-inner {
    position: absolute;
    top: 80px;
    left: 30px;
}
.onus-logo {
    width: 50%;
}
.header-content {
    color: #fff;
}
.header-heading {
    text-align: center;
    font-size: 5.4rem;
    font-weight: 700;
    font-style: normal;
    color: rgb(235, 220, 27);
    text-decoration: underline;
}
.header-list {
    margin-top: 40px;
    margin-bottom: 30px;
}
.header-item {
    font-size: 1.8rem;
    line-height: 1.7;
    list-style-type: disc;
}
.img-content-media {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding-bottom: 40px;
}
.header-show {
    position: absolute;
    color: rgb(225, 21, 21);
    background-color: #fff;
    font-weight: 700;
    top: -4%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2.4rem;
    padding: 16px 20px;
    border-radius: 16px;
}

/* Sign up */
.sign-up {
    background-color: #3b3bd8;
}
.sign-up__logo {
    background-color: #fff;
    padding-left: 160px;
}
.sign-up__logo img {
    width: 20%;
}
.sign-up .container {
    margin-top: 80px;
}
.sign-up__left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 100px;
}
.sign-up__heading-left {
    font-weight: 400;
    font-family: "Bungee", sans-serif;
    font-style: normal;
    color: rgb(255, 255, 255);
    font-size: 12rem;
    display: flex;
    justify-content: end;
}
.sign-up__heading-right {
    font-family: "Bungee", sans-serif;
    font-size: 3.4rem;
    display: flex;
    line-height: 1.5;
    justify-content: start;
    align-items: center;
    color: rgb(255, 255, 255);
    font-weight: 700;
}
.sign-up__sub-heading {
    font-family: "Bungee", sans-serif;
    margin-top: 20px;
    font-size: 4rem;
    color: rgb(7, 3, 36);
    line-height: 60px;
    font-weight: 700;
    margin-left: 190px;
}
.sign-up__desc {
    font-size: 2.2rem;
    margin-top: 20px;
    color: rgb(255, 255, 255);
    margin-left: 180px;
}
.sign-up-btn {
    display: flex;
    margin-top: 60px;
    justify-content: center;
    width: 256px;
    padding: 35px 0;
    color: #f6e366;
    font-size: 2rem;
    text-decoration: underline;
    margin-left: 350px;
}
.sign-up__links {
    margin-top: 300px;
}
.sign-up__link {
    height: 71px;
}

/* Suit */

.suit {
    background-image: url(../img/backgroud-suit.webp);
    background-repeat: no-repeat;
    background-size: cover;
}
.suit-heading {
    color: #fff;
    font-size: 5rem;
    font-weight: 700;
    padding: 64px 16px;
}
.suit-content {
    position: relative;
    margin-top: 80px;
}
.suit-content__item {
    position: relative;
}
.img-suit__decor-1 {
    position: absolute;
    top: -10%;
    left: -8%;
}
.img-suit__decor-1 img {
    width: 80px;
}
.suit-item__img {
    width: 100%;
}
.suit__decor-1 {
    position: absolute;
    top: -65px;
    color: #ff0101;
    width: 90%;
    display: flex;
    border-radius: 4px 32px 0 0;
    align-items: center;
    justify-content: center;
    font-size: 2.3rem;
    height: 65px;
    background-color: #ebdc1b;
}
.suit__right-img {
    width: 100%;
}
.suit-content__right {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.suit-content__right-2 {
    width: 100%;
}
.suit-content__right-desc {
    border-radius: 4px;
    background-color: #fff;
    font-size: 2rem;
    line-height: 1.6;
    color: #00007b;
    height: 100%;
    padding: 0 32px;
    justify-content: center;
    text-align: center;
    display: flex;
    align-items: center;
}
.suit-free {
    /* position: absolute; */
    display: flex;
    justify-content: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 40px;
}
.suit-free__img {
}
.suit-free__desc {
    position: absolute;
    bottom: 84px;
    color: rgb(241, 5, 5);
    font-weight: 700;
    font-size: 4rem;
}

/* suit-challenge */

.suit-challenge {
    background: rgb(34, 53, 202);
    background: linear-gradient(
        333deg,
        rgba(34, 53, 202, 1) 22%,
        rgba(76, 161, 235, 1) 73%
    );
    padding: 60px 0;
}
.heading-suit-challenge {
    text-align: center;
    font-size: 4.4rem;
    font-weight: 700;
    font-style: normal;
    color: rgb(242, 20, 0);
    text-decoration: underline;
}
.suit-challenge__list {
    margin-top: 40px;
}
.suit-challenge__item {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    gap: 24px;
    margin-top: 24px;
}
.suit-challenge-check {
    width: 54px;
}
.suit-challenge__desc {
    font-size: 4rem;
    font-weight: 600;
    font-style: normal;
    color: rgb(247, 179, 32);
}
.suit-challenge__btn-inner {
    margin-top: 40px;
    display: flex;
    justify-content: center;
}
.suit-challenge__bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sub-heading__bottom {
    text-align: center;
    padding: 16px 0;
    font-size: 2.4rem;
    color: #fff;
    line-height: 1.6;
}
.heading__bottom {
    font-weight: 700;
    font-style: normal;
    color: rgb(1, 9, 20);
    font-size: 4rem;
}
.suit-challenge__bottom-id {
    padding: 16px 0;
    color: #ff0101;
    font-weight: 600;
    font-style: normal;
    font-size: 3.4rem;
}

/* Page 6 */
.video-onus {
    background: linear-gradient(
        90deg,
        rgb(93, 224, 230) 0%,
        rgb(0, 74, 173) 100%
    );
    padding: 80px 0;
}
.heading-videos {
    display: flex;
    justify-content: center;
    font-family: "Bungee", sans-serif;
    align-items: center;
}
.heading-videos__left {
    font-size: 6.7rem;
    font-weight: 400;
    word-break: keep-all;
    color: rgb(255, 255, 255);
}
.heading-videos__betwwen,
.heading-videos__right {
    font-size: 4.3rem;
    font-weight: 400;
    color: rgb(255, 22, 22);
}
.heading-videos__right {
    font-size: 3.5rem;
}
.video__inner {
    margin-top: 60px;
    position: relative;
    width: 100%;
    padding-top: 56.25%;
    background: #000;
}
.onus-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Page-7 */
.end {
    position: relative;
    background-color: rgb(23, 23, 23);
    height: 100vh;
    padding: 60px 0;
}
.logo-pachas__end {
    top: 60;
    position: absolute;
    left: 0;
    z-index: 6;
}
.logo-name-end {
    color: #fff;
}
.end-decor-1 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 33.3333%;
}
.end-decor-2 {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 33.3333%;
}
.end-decor-3 {
    position: absolute;
    bottom: 0;
    left: 33.33334%;
    width: 33.3333%;
}
.end-decor-4 {
    position: absolute;
    bottom: 30%;
    left: -10%;
    width: 50%;
}
.end-content {
    position: relative;
    z-index: 4;
    display: flex;
}
.img-end-content {
    width: 500px;
    transform: translateY(-170px);
    clip-path: path("M 0 0 v 650 c 276.1 0 500 -223.9 500 -500 H 0 Z");
}
.heading-end {
    font-weight: 700;
    font-size: 5rem;
    font-style: normal;
    color: rgb(255, 22, 22);
    text-decoration: none;
    line-height: 1.5;
}
.heading-end span {
    color: rgb(102, 250, 255);
}
.end-content__right {
    margin-left: 220px;
}
.end-btn {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.btn-end {
    width: 850px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    font-size: 4rem;
}
.end-decor-btn {
    width: 165px;
}
.end-ruler {
    margin-top: 100px;
    width: 200px;
    height: 3px;
    border-radius: 99px;
    background-color: rgb(102, 250, 255);
}

.name-duy-pacha {
    margin: 20px 0 40px;
    color: #fff;
    font-size: 3rem;
}
.link-end-content {
    display: flex;
    align-items: center;
    gap: 120px;
}
.link-end-left {
    display: flex;
    align-items: center;
    gap: 30px;
}
.link-end-right {
    display: flex;
    gap: 8px;
}
.link-end-more {
    width: 64px;
}
